[submodule "modules/memento-common"]
	path = modules/memento-common
	url = git@github.com:Metaswitch/memento-common.git
[submodule "modules/thrift"]
	path = modules/thrift
	url = git@github.com:Metaswitch/thrift.git
[submodule "modules/cassandra"]
	path = modules/cassandra
	url = https://github.com/apache/cassandra.git
[submodule "modules/sas-client"]
	path = modules/sas-client
	url = git@github.com:Metaswitch/sas-client.git
[submodule "modules/cpp-common"]
	path = modules/cpp-common
	url = git@github.com:Metaswitch/cpp-common.git
[submodule "modules/pjsip"]
	path = modules/pjsip
	url = git@github.com:Metaswitch/pjsip-upstream.git
[submodule "modules/gmock"]
	path = modules/gmock
	url = git@github.com:Metaswitch/gmock-upstream.git
[submodule "modules/gcovr"]
	path = modules/gcovr
	url = https://github.com/gcovr/gcovr.git
