[submodule "modules/memento-common"]
	path = modules/memento-common
	url = git@github.com:Metaswitch/memento-common.git
[submodule "modules/thrift"]
	path = modules/thrift
	url = git@github.com:Metaswitch/thrift.git
[submodule "modules/cassandra"]
	path = modules/cassandra
	url = https://github.com/apache/cassandra.git
[submodule "modules/sas-client"]
	path = modules/sas-client
	url = git@github.com:Metaswitch/sas-client.git
[submodule "modules/cpp-common"]
	path = modules/cpp-common
	url = git@github.com:Metaswitch/cpp-common.git
