Source: memento-as
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: memento-as
Architecture: any
Depends: sprout-base
Suggests: memento-as-dbg
Description: memento-as, a call list application sproutlet

Package: memento-as-dbg
Architecture: any
Section: debug
Priority: extra
Depends: memento-as (= ${binary:Version})
Description: Debugging symbols for memento-as
